**/build/

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
*.o

matrices/
outputs/
script_builder/workloads/matrices/
script_builder/outputs/

slurm-*.out

__pycache__/
.vscode/
.cache/