[submodule "external/fast_matrix_market"]
	path = external/fast_matrix_market
	url = https://github.com/alugowski/fast_matrix_market.git
[submodule "external/spectra"]
	path = external/spectra
	url = https://github.com/yixuan/spectra.git
[submodule "external/artificial-matrix-generator"]
	path = external/artificial-matrix-generator
	url = https://github.com/cslab-ntua/artificial-matrix-generator
